@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';
@import '../../../@theme/styles/themes';

:host {
  width: 100%;
  height: 100%;
}

@include nb-install-component() {
  .calendars {
    display: flex;
    flex-wrap: wrap;
    margin: -1rem -0.5rem;
    justify-content: center;
    min-height: 100%;
    min-width: 100%;
  }

  .calendar-container {
    margin: 1rem 0.5rem;
    display: flex;

    nb-calendar {
      z-index: 1;
    }

    .time-picker {
      margin: 0;

      nb-card-header {
        padding: 1.12rem 1.5rem;
      }

      nb-list-item {
        justify-content: center;
      }
    }
  }

  nb-calendar-picker {
    .day-cell .size-large {
      width: 5rem;
      height: 5rem;
    }
  
    .month-cell .size-large {
      width: 5rem;
      height: 5rem;
    }
  
    .year-cell .size-large {
      width: 5rem;
      height: 5rem;
    }
  }

  @include media-breakpoint-down(sm) {
    .calendars {
      justify-content: center;
    }

    .calendar-container {
      flex-direction: column;
    }
  }

  @include media-breakpoint-up(md) {
    .calendars {
      justify-content: flex-start;
    }
  }

  @include media-breakpoint-up(lg) {
    .calendars {
      margin: -1.1rem;
    }
    .calendar-container {
      margin: 1rem;
    }
  }

  @include media-breakpoint-up(xxxl) {
    .calendars {
      margin: -1rem;
    }
  }
}
