<div class="calendars">
  <div class="calendar-container">
    <nb-calendar 
    [(date)]="date"
    [size]="size" 
    [boundingMonth]="true"
    (dateChange)="onDateChanged()"></nb-calendar>
    <nb-card [@timePicker]="timePickerState" class="time-picker" >
      <nb-card-header>{{date | date: 'MMM d, h:mm a'}}</nb-card-header>
      <nb-card-body>
        <nb-list>
          <nb-list-item *ngFor="let unit of timeUnits">
            <button nbButton status="primary"
              (click)="onTimeUnitClick(unit)">{{ unit.Name }}</button>
          </nb-list-item>
        </nb-list>
      </nb-card-body>
    </nb-card>
  </div>
</div>
