<div class="calendars">
  <div class="calendar-container">
    <nb-calendar 
    [(date)]="date" 
    [boundingMonth]="true"
    (dateChange)="onDateChanged()"></nb-calendar>
    <nb-card [@timePicker]="timePickerState" class="time-picker" >
      <nb-card-header>{{date | date}}</nb-card-header>
      <nb-card-body>
        <nb-list>
          <nb-list-item *ngFor="let test of ['1', '2']">
            {{ test }}
          </nb-list-item>
        </nb-list>
      </nb-card-body>
    </nb-card>
  </div>
</div>
