<h1 id="title" class="title">
  {{ "auth.common.password.change" | translate }}
</h1>
<p class="sub-title">{{ "auth.common.password.set_new" | translate }}</p>

<nb-alert
  *ngIf="showMessages.error && errors?.length && !submitted"
  outline="danger"
  role="alert">
  <p class="alert-title">
    <b>{{ "auth.common.snap" | translate }}</b>
  </p>
  <ul class="alert-message-list">
    <li *ngFor="let error of errors" class="alert-message">
      {{ error | translate }}
    </li>
  </ul>
</nb-alert>

<nb-alert
  *ngIf="showMessages.success && messages?.length && !submitted"
  outline="success"
  role="alert">
  <p class="alert-title">
    <b>{{ "auth.common.snap" | translate }}</b>
  </p>
  <ul class="alert-message-list">
    <li *ngFor="let message of messages" class="alert-message">
      {{ message | translate }}
    </li>
  </ul>
</nb-alert>

<form (ngSubmit)="resetPass()" #resetPassForm="ngForm" aria-labelledby="title">
  <div class="form-control-group">
    <label class="label" for="input-password">{{
      "auth.reset.new_password" | translate
    }}</label>
    <input
      nbInput
      [(ngModel)]="user.password"
      #password="ngModel"
      type="password"
      id="input-password"
      name="password"
      class="first"
      [placeholder]="'auth.reset.new_password' | translate"
      autofocus
      fullWidth
      fieldSize="large"
      [status]="
        password.dirty ? (password.invalid ? 'danger' : 'success') : 'basic'
      "
      [required]="getConfigValue('forms.validation.password.required')"
      [minlength]="getConfigValue('forms.validation.password.minLength')"
      [maxlength]="getConfigValue('forms.validation.password.maxLength')"
      [attr.aria-invalid]="
        password.invalid && password.touched ? true : null
      " />
    <ng-container *ngIf="password.invalid && password.touched">
      <p class="caption status-danger" *ngIf="password.errors?.required">
        {{ "auth.common.password.required" | translate }}
      </p>
      <p
        class="caption status-danger"
        *ngIf="password.errors?.minlength || password.errors?.maxlength">
        {{
          "auth.common.password.contain"
            | translate
              : {
                  from: getConfigValue("forms.validation.password.minLength"),
                  to: getConfigValue("forms.validation.password.maxLength")
                }
        }}
      </p>
    </ng-container>
  </div>

  <div class="form-group">
    <label class="label" for="input-re-password">{{
      "auth.common.password.confirm_password" | translate
    }}</label>
    <input
      nbInput
      [(ngModel)]="user.confirmPassword"
      #rePass="ngModel"
      id="input-re-password"
      name="rePass"
      type="password"
      class="last"
      [placeholder]="'auth.common.password.confirm_password' | translate"
      fullWidth
      fieldSize="large"
      [status]="
        rePass.touched
          ? rePass.invalid || password.value != rePass.value
            ? 'danger'
            : 'success'
          : 'basic'
      "
      [required]="getConfigValue('forms.validation.password.required')"
      [attr.aria-invalid]="rePass.invalid && rePass.touched ? true : null" />
    <ng-container *ngIf="rePass.touched">
      <p
        class="caption status-danger"
        *ngIf="rePass.invalid && rePass.errors?.required">
        {{ "auth.common.password.confirmation" | translate }}
      </p>
      <p
        class="caption status-danger"
        *ngIf="password.value != rePass.value && !rePass.errors?.required">
        {{ "auth.common.password.confirmation_not_matched" | translate }}
      </p>
    </ng-container>
  </div>

  <button
    nbButton
    status="primary"
    fullWidth
    size="large"
    [disabled]="submitted || !resetPassForm.valid"
    [class.btn-pulse]="submitted">
    {{ "auth.common.password.change" | translate }}
  </button>
</form>

<section class="sign-in-or-up" aria-label="Sign in or sign up">
  <p>
    <a class="text-link" routerLink="../login">{{
      "auth.request.back_to" | translate
    }}</a>
  </p>
  <p>
    <a class="text-link" routerLink="../register">{{
      "auth.register.value" | translate
    }}</a>
  </p>
</section>
