<nb-layout>
  <nb-layout-column>
    <nb-flip-card [flipped]="flipped" [showToggleButton]="false">
      <nb-card-front>
        <nb-card>
          <nb-card-header *ngIf="router.url === '/auth/register'">
            <nb-button-group
              (valueChange)="roleChanged($event)"
              status="primary"
              ghost>
              <button nbButtonToggle value="customer" [pressed]="isCustomer">
                {{ "auth.common.customer" | translate }}
              </button>
              <button nbButtonToggle value="provider" [pressed]="isProvider">
                {{ "auth.common.provider" | translate }}
              </button>
            </nb-button-group>
          </nb-card-header>
          <nb-card-header *ngIf="router.url === '/auth/login'">
            <nb-actions size="medium">
              <nb-action
                icon="globe-2-outline"
                nbContextMenuTag="language-menu"
                [nbContextMenu]="LANGUAGE_MENU"></nb-action>
            </nb-actions>
          </nb-card-header>
          <nb-card-body>
            <nb-auth-block>
              <router-outlet></router-outlet>
            </nb-auth-block>
          </nb-card-body>
        </nb-card>
      </nb-card-front>
      <nb-card-back>
        <nb-card>
          <nb-card-header *ngIf="router.url === '/auth/register'">
            <nb-button-group
              (valueChange)="roleChanged($event)"
              status="primary"
              ghost>
              <button nbButtonToggle value="customer" [pressed]="isCustomer">
                {{ "auth.common.customer" | translate }}
              </button>
              <button nbButtonToggle value="provider" [pressed]="isProvider">
                {{ "auth.common.provider" | translate }}
              </button>
            </nb-button-group>
          </nb-card-header>
          <nb-card-body [style.overflow]="overflow">
            <nb-auth-block>
              <router-outlet name="register"></router-outlet>
            </nb-auth-block>
          </nb-card-body>
        </nb-card>
      </nb-card-back>
    </nb-flip-card>
  </nb-layout-column>
</nb-layout>
