@import "../../../@theme/styles/themes";
@import "~@nebular/theme/styles/global/breakpoints";
@import "~bootstrap/scss/mixins/breakpoints";

@include nb-install-component() {
  .links {
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 1rem;
  }

  .socials {
    margin-top: 1rem;
    nb-icon {
      font-size: 2.2rem;
    }
  }

  .another-action {
    margin-top: 1rem;
  }

  .text-link {
    text-decoration: underline;
  }
}
